* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
}

nav {
    background-color: rgb(96, 221, 238);
}

nav img, nav h1, nav ul, nav li, nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

nav img {
    width: 125px;
    margin: 20px;
}
nav h1 {
    font-size: 2.5em;
    margin-left: 5%;
}

nav ul {
    font-size: 1.5em;
    margin-left: 10%;
    width: 35%;
}
nav li {
    margin: 0% 1%;
}
